html, body {
      	height: 100%;
      	width: 100%;
      	margin: 0;
        background-color: #F8F8F8;
}

#header {
        height: 20%;
        width: 100%;
}

#main {
        height: 70%;
        width: 80%;
        margin-left: 12%;
        padding-top: 5px;
}

#uwDiningMap {
      	height: 100%;
      	width: 75%;
      	float: left;
      	clear: left;
        padding-top: 30px;
}

#infoWindow {
      	height: 100%;
      	width: 20%;
      	float: left;
}

#sideBar {
      	height: 100%;
      	width: 25%;
      	float: right;
      	clear:right;
}

#info {
      	height: 90%;
      	padding-right: 15px;
      	padding-left: 15px;
      	vertical-align: middle;
      	text-align: justify;
}

.category {
      	font-size: 11px;
      	height: 30px;
      	width: 215px;
      	background-color: #E5E5E5;
      	text-align: center;
      	vertical-align:bottom;
      	margin-top: 3px;
      	margin-bottom: 3px;
}

ul {
      	list-style-type: none;
}

li > ul {
      	list-style-type: none;
      	padding: 10px;
}

a {
      	color: #39275B;
      	font-family:Verdana,Tahoma,sans-serif;
      	font-size: 11px;
}

a:link {
      	text-decoration: none;
}

p, h3, h4 {
      	color: #39275B;
      	font-family:Verdana,Tahoma,sans-serif;
      	font-size: 11px;
}